@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

:root {
    --dark-full: #18181b;
    --dark-light: #27272A;
    --dark-shadWhite: #FAFAFA;

    --light-full: #fff;
    --light-dark: #09090B;
    --light-shadGray: #71717A;
}

[x-cloak] {
    display: none !important;
}

.fi-in-tabs {
    @apply rounded-md;
}

.fi-tabs-item {
    @apply rounded-md hover:bg-slate-800;
}

.fi-tabs-item-active {
    @apply text-white bg-slate-800;
}

.fi-tabs-item:hover .fi-tabs-item-label {
    @apply text-white;
}

.fi-tabs-item-active .fi-tabs-item-label {
    @apply text-white;
}
